.playing-card {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 3px 5px 3px 1px;
    /* margin: 5px; */
    display: inline-block;
    overflow: hidden;
}
.playing-card img {
    width: 100%;
    height: 7em;
    margin: auto;
    mouse-events: none;
    margin-top: 2px;
    margin-bottom: -4px;
    margin-left: 2px;
    margin-right: 2px;
    pointer-events: none;
}

img {  
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

/* .hand {
    width: auto;
    height: auto;
    margin: 0 auto;
}
.hand-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hand-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
} */
.cards-in-play, .hand {
    width:30%;
    margin: 0 auto;
    padding: 10px 0;
}
.cards-in-play.is-played {
    background-color: #666;
    border-radius: 20px;
    margin: 20px auto;
    border: none
}

.player-area.opponent .cards-in-play.is-hand, .player-area.opponent .hand {
    /* border-top: 2px solid white; */
    border-bottom: 2px solid white;
}
.player-area.you .cards-in-play.is-hand, .player-area.you .hand {
    border-top: 2px solid white;
    /* border-bottom: 2px solid white; */
}

.playing-card.selected {
    border: 2px solid red;
    margin-top: 0.5em;
    margin-bottom: 5px;
}

/* Card Stack */

.playing-card {
    margin-top:1em;
    transition: margin-top 0.3s ease;
}

.card-stack {
    position: relative;
    width: 100%;
    height: 7.5em;
    display: inline-block;
    margin-bottom: 1em;
}
  
  /* Each stacked item is absolutely positioned */
.card-stack-item {
    position: absolute;
    top: 0;
}
  
  /* If hover animation is enabled, move the card upward by 25% of its height on hover */
.card-stack-item.hover-enabled .playing-card:hover {
    margin-top: 0em;
}

.playing-card.selectable {
    cursor: pointer;
}
  