.playing-card {
    width: auto;
    height: 8em;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
.playing-card img {
    width: 100%;
    height: 100%;
    margin: auto;
    mouse-events: none;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* .hand {
    width: auto;
    height: auto;
    margin: 0 auto;
}
.hand-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hand-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
} */
.cards-in-play, .hand {
    width:40%;
    margin: 0 auto;
    padding: 10px 0;
}
.cards-in-play.is-played {
    background-color: #666;
    border-radius: 20px;
    margin: 20px auto;
    border: none
}
.cards-in-play.is-hand, .hand {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.playing-card.selected {
    border: 2px solid red;
    margin-top: 5px;
    margin-bottom: 5px;
}