.player-area.you {
    position: fixed;
    bottom: 10px;
}
.player-area.opponent {
    position: fixed;
    top: 10px;
}
.player-area {
    width: 100%;
    height: auto;
    left:0;
    position: relative;
}
.player-area .player-info {
    position: absolute;
    right: 20px;
    width: 200px;
    border-radius: 10px;
}
.player-area.you .player-info {
    bottom: 10px;
}
.player-area.opponent .player-info {
    top: 10px;
}
.player-area .player-info .recent-score-message {
    position: absolute;
    width: 100%;
    left: 0;
}
.player-area.you .player-info .recent-score-message {
    top: -0.5em;
    transform: translateY(-100%);
}
.player-area.opponent .player-info .recent-score-message {
    bottom: -0.5em;
    transform: translateY(100%);
    position: absolute;
}
